
/* style.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

html {
  font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
  color: #b2bdbd;
  min-height: 100vh;
  background-color: #2d2d39;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3f4156;
  padding: 20px;
}

/* Rest of the CSS code... */


/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2d2d39;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3f4156;
  padding: 20px;
}

.app-icon {
  width: 80px;
  height: 80px;
}

h1 {
  font-size: 24px;
  margin-top: 10px;
}

main {
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 18px;
  /* color: #666; */
  color: #929b9b;
  margin-bottom: 20px;
}

.get-started-btn {
  display: inline-block;
  /* background-color: #007BFF; */
  background-color:#71c6dd;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #3f4156; /* Update footer background color */
  padding: 30px 0;
  text-align: center;
}


.project-info,
.developer-story,
.cta-section {
  margin-bottom: 40px;
  padding: 0 20px;
}

.project-info h2,
.developer-story h2,
.cta-section h2 {
  font-size: 24px;
  color: #bbb;
  margin-bottom: 10px;
}

.app-link,
.github-link {
  display: inline-block;
  background-color: #007BFF;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .get-started-btn,
  .app-link,
  .github-link {
    font-size: 14px;
    padding: 8px 16px;
  }
}


